@use "css/design-system";

.about {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding: 3vw 5vw;
  box-sizing: border-box;
  flex-direction: row;
  min-height: 100vh;
  height: unset;

  @include design-system.on-tablet {
    flex-direction: column-reverse;

    .slideshow-container {
      margin: 24px 0;
      width: 100%;
      align-self: center;
    }

    .description-container {
      margin-left: 0;
      padding: 16px 0;
    }
  }
}

$max-content-width: 650px;

.slideshow-container {
  background: white;
  margin-right: 64px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: solid 1px design-system.$gray300;
  align-items: stretch;
  transition: height 0.2s;
  box-shadow: 6px 6px 8px 4px rgba(0, 0, 0, 0.25);
  max-width: #{"min(#{$max-content-width}, #{calc(100vh - 300px)})"};

  &:hover {
    .how-to-button {
      @include design-system.visible;
    }
  }
}

$slide-padding: 16px;

.slide-location {
  position: relative;
  padding: $slide-padding;
  @extend .gen-header;
  font-size: 18px;
  color: design-system.$gray800;
  font-weight: bold;
  display: flex;
  align-items: center;

  .location-text {
    margin-left: 8px;
    max-width: calc(100% - 64px);
    @include design-system.ellipsis;
  }
}

.slide-description {
  color: design-system.$gray500;
  overflow-y: auto;
  height: 68px;
}

.slide-body {
  padding: $slide-padding;
}

.description-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  padding: 0 0 16px 16px;
  box-sizing: border-box;
}

// estimated original width of about me header
$starting-width: 340px;

.description-header {
  @extend .h-1;
  color: design-system.$gray800-dark;
  margin-bottom: 16px;
  background: design-system.$bg-dark;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  min-width: 100%;

  @media (min-width: design-system.$mobile-break) {
    min-width: $starting-width;
    &.seen {
      animation: widen 2s ease-out;
      min-width: 100%;
    }
  }
}

@keyframes widen {
  0% {
    min-width: $starting-width;
  }
  100% {
    min-width: 100%;
  }
}

.description-p {
  @extend .p-1;
  color: design-system.$gray500;
}

.indicator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.how-to-button {
  @include design-system.remove-button-styles;
  position: absolute;
  right: $slide-padding;
  padding: 4px 8px;
  border-radius: 4px;
  border: solid 1px design-system.$gray200;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 14px;

  color: white;
  background: design-system.$blue600;
  @include design-system.hidden;

  &:hover {
    background: rgba(105, 150, 255);
  }

  @include design-system.on-touch-screen {
    display: none;
  }
}

.origin-cta {
  @extend .gen-header;
  font-size: 12px;
  color: design-system.$gray500;
  margin-top: 16px;
  align-self: flex-end;
  display: flex;
  align-items: center;
}

.origin-button {
  @include design-system.remove-button-styles;
  @extend .gen-header;
  font-size: 12px;
  background: design-system.$bg-dark;
  color: design-system.$gray800-dark;
  padding: 4px 6px;
  border-radius: 4px;
  margin-left: 4px;
  cursor: pointer;

  &:hover {
    background: design-system.$gray600;
  }
}
