.container {
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  align-self: stretch;

  &.off {
    scroll-snap-type: unset;

    .panel {
      scroll-snap-align: unset;
    }
  }
}

.panel {
  scroll-snap-align: start;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
