@use "css/design-system.scss";

.hero-image {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
}

.hero-text-container {
  position: relative;
  margin: 48px 0 0 48px;
  padding: 16px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  .hero-subheader {
    margin-top: 16px;
  }

  @include design-system.on-mobile {
    margin: 0;
  }
}

.hero-header {
  color: white;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.8));
  @extend .h-1;
}

.hero-subheader {
  @extend .h-2;
  color: design-system.$gray900-dark;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.8));
}

.scroll-button {
  @include design-system.remove-button-styles;
  margin-top: auto;
  align-self: center;
  z-index: design-system.$z-mg;
  cursor: pointer;
  animation: scroll-prompt 2s ease-in-out infinite;
  margin-bottom: 16px;
}

@keyframes scroll-prompt {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}
