@use "css/design-system.scss";

.md {
  white-space: pre-wrap;

  ul, ol {
    line-height: 20px;
    margin: 0;
  }
}

.link {
  text-decoration: underline;
  text-underline-offset: 1px;
  cursor: pointer;
  color: inherit;

  &:hover {
    opacity: 0.85;
  }
}

.code {
  padding: 4px;
  background: design-system.$gray50;
  border-radius: 4px 6px;
}

.custom-h2 {
  @extend .h-2;
}
